$success: #8bc34a;
$danger: #f44336;
$warning: #ffc107;
$info: #03a9f4;
$question: #3f51b5;

.toastme-dialog-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.65);
  z-index: 999;
  display: flex;
  justify-content: center;
}

.toastme-diag-actions {
  display: flex;
  justify-content: center;
  align-items: center;
}

.toastme-dialog-ico {
  width: 50px;
  height: 50px;
  display: inline-block;
  margin-bottom: 10px;
  font-size: 3rem;
  @include iconbody;
  position: relative;
  //animation: toastIconIn 0.4s ease-in-out 0s forwards;
  -webkit-animation: flip-in-hor-bottom 0.5s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s both;
  animation: flip-in-hor-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s
    both;
  &.success {
    color: $success;
    &:before {
      content: $ico-success;
    }
  }
  &.danger {
    color: $danger;
    -webkit-animation: shake-horizontal 0.8s
      cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.5s both;
    animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955)
      0.5s both;
    &:before {
      content: $ico-danger;
    }
  }
  &.info {
    color: $info;
    -webkit-animation: bounce-top 0.9s both;
    animation: bounce-top 0.9s both;
    &:before {
      content: $ico-info;
    }
  }
  &.warning {
    color: $warning;
    -webkit-animation: wobble-hor-bottom 0.8s 0.5s both;
    animation: wobble-hor-bottom 0.8s 0.5s both;
    &:before {
      content: $ico-warning;
    }
  }
  &.question {
    color: $question;
    -webkit-animation: jello-horizontal 0.9s 0.5s both;
    animation: jello-horizontal 0.9s 0.5s both;
    &:before {
      content: $ico-question;
    }
  }
}

.toastme-dialog {
  padding: 10px;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  display: table;
  color: #010101;
  background: #f9f9f9;
  border-radius: 3px;
  border: 1px solid #ddd;
  width: 280px;
  position: relative;
  top: calc(50% - 200px);
  //left: calc(50% - 190px);
  z-index: 1000;
  transition: all ease-in-out 0.2s;
  box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.05);
  animation: toastDialogIn 0.2s ease-in-out 0s forwards;

  &.dark {
    color: $font-color-dark;
    background: $bg-dark;
    border: 1px solid $border-dark;
  }

  &.toastme-dialog-closing {
    animation: toastDialogOut 0.1s ease-in-out 0s forwards;
  }

  .toastme-dialog-title {
    font-size: 15px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 0 10px;
    line-height: 16px;
  }

  .toastme-dialog-text {
    font-size: 14px;
    font-family: Helvetica, sans-serif;
    margin: 0 0 10px;
    line-height: 14px;
  }
}

@keyframes toastDialogIn {
  0% {
    transform: rotate(0) translateY(-30px);
    opacity: 0;
  }
  100% {
    transform: rotate(0) translateY(0);
    opacity: 1;
  }
}

@keyframes toastDialogOut {
  0% {
    transform: rotate(0) translateY(0);
    opacity: 1;
  }
  100% {
    transform: rotate(0) translateY(-30px);
    opacity: 0;
  }
}

@keyframes toastIconIn {
  0% {
    transform: rotate(0) scale(1.01);
    opacity: 0;
  }
  50% {
    transform: rotate(0) scale(1.15);
  }
  100% {
    transform: rotate(0) scale(1);
    opacity: 1;
  }
}
