.toastme-list {
  position: fixed;
  width: 250px;
  padding: 0;
  margin: 0;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

.toastme {
  font-size: $font-size;
  font-family: $font-family;
  color: $font-color-default;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  max-width: $max-width;
  text-align: left;
  padding: 10px 15px 10px 45px;
  border-radius: 2px;
  background-color: $bg-default;
  //position: fixed;
  opacity: 0.7;
  cursor: pointer;
  z-index: 100;
  transform: translateY(20px);
  transition: all 0.2s ease-in-out;
  box-shadow: 0 3px 6px rgba(0,0,0,0.2);
  //animation: toastIn 0.2s forwards 0s ease-in-out;
  -webkit-animation: flip-in-hor-bottom 0.5s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: flip-in-hor-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;

  &:hover,
  &:focus {
    opacity: 1;
  }

  a {
    color: $font-color-default;
    text-decoration: underline;
  }

  &.success {
    color: $font-color;
    background-color: $success;
    a {
      color: $font-color;
      text-decoration: underline;
    }
    .toastme-ico {
      color: darken($success, 10%);
      &:before {
        content: $ico-success;
      }
    }
  }

  &.error {
    color: $font-color;
    background-color: $danger;
    a {
      color: $font-color;
      text-decoration: underline;
    }
    .toastme-ico {
      color: darken($danger, 10%);
      &:before {
        content: $ico-danger;
      }
    }
  }

  &.warning {
    color: $font-color;
    background-color: $warning;
    a {
      color: $font-color;
      text-decoration: underline;
    }
    .toastme-ico {
      color: darken($warning, 10%);
      &:before {
        content: $ico-warning;
      }
    }
  }

  &.info {
    color: $font-color;
    background-color: $info;
    a {
      color: $font-color;
      text-decoration: underline;
    }
    .toastme-ico {
      color: darken($info, 10%);
      &:before {
        content: $ico-info;
      }
    }
  }

  .toastme-close {
    color: $font-color-default;
    opacity: 0.7;
    float: right;
    right: -2px;
    top: 2px;
    font-size: 8px;
    @include iconbody;
    position: absolute;
    background: transparent;
    border: none;
    box-shadow: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    &:after {
      content: $ico-close;
      color: #ddd;
    }
    &:hover,
    &:focus {
      opacity: 1;
    }
  }

  .toastme-ico {
    font-size: 1.5rem;
    color: lighten($font-color-default, 20%);
    @include iconbody;
    float: left;
    width: 30px;
    height: 30px;
    border-radius: 2px;
    position: absolute;
    left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    //background: #fff;
    &:before {
      content: $ico-notification;
    }
  }
  .toastme-content {
    white-space: nowrap;
    min-width: 150px;
  }
}

@keyframes toastIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
