.toastme {
    &.ligh {
        &.success {
            color: $font-color-light;
            background-color: $bg-light;
            border: 1px solid $border-light;

            .toastme-ico {
                color: $success;

                &:before {
                    content: $ico-success;
                }
            }
        }


        &.error {
            color: $font-color-light;
            background-color: $bg-light;
            border: 1px solid $border-light;

            .toastme-ico {
                color: $danger;

                &:before {
                    content: $ico-danger;
                }
            }
        }

        &.warning {
            color: $font-color-light;
            background-color: $bg-light;
            border: 1px solid $border-light;

            .toastme-ico {
                color: $warning;

                &:before {
                    content: $ico-warning;
                }
            }
        }

        &.info {
            color: $font-color-light;
            background-color: $bg-light;
            border: 1px solid $border-light;

            .toastme-ico {
                color: $info;

                &:before {
                    content: $ico-info;
                }
            }
        }
    }

}