//Fonts
$font-family: Helvetica, 'san-serif';
$font-size: 13px;

//Properties
$max-width: 250px;

//Default colors
$font-color-default: #737373;
$bg-default: #f5f5f5;

//Main colors
$font-color: #fff;
$success: #8BC34A;
$danger: #f44336;
$warning: #FF9800;
$info: #2196F3;

//Light theme
$font-color-light: #737373;
$bg-light: #f9f9f9;
$border-light: #ddd;