//Fonts
$font-family: Helvetica, "san-serif";
$font-size: 13px;

//Properties
$max-width: 250px;

//Default colors
$font-color-default: #333;
$bg-default: #f5f5f5;

$primary: #3f51b5;


//Main colors
$font-color: #fff;
$success: #8bc34a;
$danger: #f44336;
$warning: #ff9800;
$info: #2196f3;
$question: $primary;

//Light theme
$font-color-light: #333;
$bg-light: #fff;
$border-light: #f9f9f9;


//Dark theme
$font-color-dark: #fff;
$bg-dark: #252839;
$border-dark: #252839;

